html {
    background-image: url(../images/background_2fort_widescreen.png);
    background-size: 1920px 1080px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'TF2', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    text-align: center;
}

#logo {
    height: 100px;
    position: absolute;
    z-index: 5;
    margin-top: 20px;
    margin-left: -300px;
}

#ringlink {
    margin-top: 150px;
    position: absolute;
    z-index: 5;
    margin-right: 750px;
}

.everything {
    display: flex;
    flex-direction: column;
    z-index: 1;
    margin-top: 100px;
}

.all {
    width: 550px;
    height: fit-content;
    display: flex;
    gap: 0;
    outline: 2px solid white;
    border: 1px dashed black;
    border-radius: 5px;
    flex-direction: column;
    margin-bottom: 5px;
}

.mercs {
    z-index: 0;
    position: absolute;
    height: 100%;
    right: 0px;
}


.header {
    background-image: url(mercs.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 330px;
}

.nav {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin: 0;
    justify-content: center;
    height: 50px;
    padding: 5px;
    background-color: #e3e2e2;
    text-align: center;
}

.nav a {
    flex-grow: 1;
    font-size: larger;
    border: 1px solid #d1ccc7;
    background-color: #d1ccc7;
    height: 25px;
    text-decoration: none;
    margin-top: 20px;
    color: #4f4944;
    font-family: 'TF2 Build';
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.nav a:hover {
    color: #b35215;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: #d1ccc7;
    padding: 5px;
}


.container p,
a {
    font-family: 'TF2';
    color: #363636;
    margin-top: 5px;
}

.container a:hover {
    color: #b35215;
}

h1 {
    color: #b35215;
    margin: 2px;
    font-family: 'TF2 Build';
}

.footer {
    height: 30px;
    background: linear-gradient(#5e564e, #5a5149);
    width: 100%;
    color: #c3bfb4;
    text-align: center;
    padding: 5px;
}

.footer p {
    margin: 0;
}

.stamps {
    width: 550px;
    height: 50px;
    overflow: hidden;
}

.stamp {
    animation: marq 10s linear infinite;
    display: flex;
    gap: 5px;
    width: 30em;
    flex-direction: row;
    height: 100%;
}

span {
    color: #b35215;
    font-family: 'TF2 Build';
}

textarea {
    height: 30px;
    width: 200px;
    font-size: 10px;
    line-height: 8px;
    border-radius: 2px;
}

.form {
    border: 1px solid black;
    background-color: #ffffff;
}