.html {
    font-family: arial,helvetica,sans-serif;
    font-size: 14px;
    cursor: url(https://files.catbox.moe/aogeaa.cur), auto;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.logo {
    height: 8em;

}

body {
    background-image: url(../images/background_2fort_widescreen.png);
    background-size: 1920px 1080px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.mercs {
    z-index: 0;
    position: absolute;
    height: 100%;
    right: 0px;
}

.wrapper {
    float: left;
    margin-left: 15em;
    margin-top: 1em;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 0px;
    filter: drop-shadow(5px 10px 10px #000000c0);
    height: fit-content;
}

.border {
    width: fit-content;
    border: 9px solid black;
    border-image: url(../images/border2.png) 8 fill round;
}

.wrap {
    text-align: center;
background-image: url(../images/bg2.png);
background-position:right top;
    outline: 3px solid #ffffff;
    width: 30em;
    border: 4px double black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.nav {
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    background-image: url(../images/nav_bar.png);
    padding: 5px;
    background-position: center;
}

nav {
    font-family: 'TF2';
}

span {
    font-family: 'TF2 Build';
    color: #b35215;
}

h3 {
    font-family: 'TF2 Build';
    color: #4f4944;
    letter-spacing: 1px;
}

p {
    font-family: 'TF2';
    margin: 5px;
}

a {
    color: #90846d;
    text-decoration: none;
}

.footer {
    height: 40px;
    background: linear-gradient(#5e564e, #5a5149);
    width: 100%;
    color: #c3bfb4;
    text-align: center;
}

iframe {
    height: 100px;
    width: 100px;
    position: absolute;
    z-index: 1;
    left: 8em;
    top: 300px;
}

.ringlink {
    position: absolute;
    z-index: 1;
    left: 8.5em;
    top: 405px;
}

.wrapper {
    gap: 5px;
}
.stamps {
    border: 9px solid black;
    border-image: url(../images/border2.png) 8 fill round;
    overflow: hidden;
    width: 100%;
    height: 50px;
}
.stamp {
    animation: marq 10s linear infinite;
    display: flex;
    gap: 5px;
    width: 30em;
    flex-direction: row;
    height: 100%;
}

